*
!.editorconfig
!.gitignore
!.prettierrc
!bun.lock
!bunfig.toml
!eslint.config.mjs
!package.json
!tsconfig.json

!*.md

!src/
!src/index.html
!src/vite-env.d.ts
!src/vite.config.ts
!src/*.ts
!src/*.scss
!src/*/
!src/*/*.ts
!src/*/*.scss
!src/*/*/
!src/*/*/*.ts
!src/*/*/*.scss
!src/*/*/*/
!src/*/*/*/*.ts
!src/*/*/*/*.scss
!src/assets/
!src/assets/*
!src/assets/*/*
!src/assets/*/*/*
!src/assets/*/*/*/*

!.github
!.github/workflows
!.github/workflows/*.yml
