$font-roboto: 'Roboto', system-ui, Arial, sans-serif;
$font-montserrat: 'Montserrat', system-ui, Verdana, sans-serif;
$font-monospace: 'Source Code Pro', ui-monospace, 'Courier New', monospace;

$sm-breakpoint: 700;
$md-breakpoint: 1000;

$transition-duration: 0.3s;
$transition-timing-function: ease-out;
